body {
  background-color: #f5f5f5;
}

.hr {
  height: 1px;
  width: 90%;
  margin: 0 auto;
  background-color: #beeafe;
}

.container {
  padding: 20px;
}

.container__frame {

}

iframe {
  width: 100%;
}
