<div class="wrapper">
  <div class="title">
    <h1>Grid System</h1>
  </div>
  <div class="gridsystem">
    <h2>12ths-Based Units</h2>
    <div class="units">
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --12">
          <div class="box">12 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --11">
          <div class="box">11 col</div>
        </div>
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --10">
          <div class="box">10 col</div>
        </div>
        <div class="l__cell grid__cell --2">
          <div class="box">2 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --9">
          <div class="box">9 col</div>
        </div>
        <div class="l__cell grid__cell --3">
          <div class="box">3 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --8">
          <div class="box">8 col</div>
        </div>
        <div class="l__cell grid__cell --4">
          <div class="box">4 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --7">
          <div class="box">7 col</div>
        </div>
        <div class="l__cell grid__cell --5">
          <div class="box">5 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --6">
          <div class="box">6 col</div>
        </div>
        <div class="l__cell grid__cell --6">
          <div class="box">6 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --5">
          <div class="box">5 col</div>
        </div>
        <div class="l__cell grid__cell --7">
          <div class="box">7 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --4">
          <div class="box">4 col</div>
        </div>
        <div class="l__cell grid__cell --8">
          <div class="box">8 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --3">
          <div class="box">3 col</div>
        </div>
        <div class="l__cell grid__cell --9">
          <div class="box">9 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --2">
          <div class="box">2 col</div>
        </div>
        <div class="l__cell grid__cell --10">
          <div class="box">10 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
        <div class="l__cell grid__cell --11">
          <div class="box">11 col</div>
        </div>
      </div>
    </div>
    <div class="gridsystem__markup">
      <form class="gridsystem__bucket">
        <textarea id="row-12" name="row-12"></textarea>
      </form>
      <form class="gridsystem__bucket">
        <textarea id="row-4_8" name="row-4_8"></textarea>
      </form>
      <form class="gridsystem__bucket">
        <textarea id="row-1_11" name="row-1_11"></textarea>
      </form>
    </div>

    <h2>Multiple Columns</h2>
    <div class="multi-cols">
      <h3>Auto Sizing</h3>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell auto">
          <div class="box">auto</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell auto">
          <div class="box">auto</div>
        </div>
        <div class="l__cell grid__cell auto">
          <div class="box">auto</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell auto">
          <div class="box">auto</div>
        </div>
        <div class="l__cell grid__cell auto">
          <div class="box">auto</div>
        </div>
        <div class="l__cell grid__cell auto">
          <div class="box">auto</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --2">
          <div class="box">2 col</div>
        </div>
        <div class="l__cell grid__cell auto">
          <div class="box">auto</div>
        </div>
        <div class="l__cell grid__cell --2">
          <div class="box">2 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --4">
          <div class="box">4 col</div>
        </div>
        <div class="l__cell grid__cell auto">
          <div class="box">auto</div>
        </div>
      </div>
      <div class="gridsystem__markup">
        <form class="gridsystem__bucket">
          <textarea id="auto" name="auto"></textarea>
        </form>
        <form class="gridsystem__bucket">
          <textarea id="auto-auto" name="auto-auto"></textarea>
        </form>
        <form class="gridsystem__bucket">
          <textarea id="auto-4col" name="auto-4col"></textarea>
        </form>
      </div>

      <h3>Fixed Sizing</h3>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --6">
          <div class="box">6 col</div>
        </div>
        <div class="l__cell grid__cell --6">
          <div class="box">6 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --4">
          <div class="box">4 col</div>
        </div>
        <div class="l__cell grid__cell --4">
          <div class="box">4 col</div>
        </div>
        <div class="l__cell grid__cell --4">
          <div class="box">4 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --8">
          <div class="box">8 col</div>
        </div>
        <div class="l__cell grid__cell --4">
          <div class="box">4 col</div>
        </div>
      </div>
      <div class="l__row grid__row">
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
        <div class="l__cell grid__cell --1">
          <div class="box">1 col</div>
        </div>
      </div>
      <div class="gridsystem__markup">
        <form class="gridsystem__bucket">
          <textarea id="six-six" name="six-six"></textarea>
        </form>
        <form class="gridsystem__bucket">
          <textarea id="eight-four" name="eight-four"></textarea>
        </form>
        <form class="gridsystem__bucket">
          <textarea id="four-four-four" name="four-four-four"></textarea>
        </form>
      </div>
    </div>

    <h3>Nesting</h3>
    <div class="nesting">
      <div class="grid__row">
        <div class="l__cell grid__cell --3">
          <div class="box">3 col</div>
        </div>
        <div class="grid__cell auto">
          <div class="grid__row level2">
            <div class="l__cell grid__cell --3">
              <div class="box">3 col</div>
            </div>
            <div class="grid__cell auto">
              <div class="grid__row level3">
                <div class="l__cell grid__cell --6">
                  <div class="box">6 col</div>
                </div>
                <div class="l__cell grid__cell --6">
                  <div class="box">6 col</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
