.gridsystem {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.l__row {
  margin-bottom: 10px;
}

.box {
  /* padding: 0.7em 0; */
}

.units .grid__row .grid__cell:first-child {
  border-right: 1px solid black;
}
.units .grid__row:first-child .grid__cell {
  border: 0;
}

.l__cell {
  text-align: center;
}

.gridsystem__markup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.gridsystem__bucket {
  border: 1px solid #E7E6E6;
}

.nesting .l__cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nesting .grid__row .grid__cell:first-child {
  border-right: 1px solid black;
}
.nesting .grid__row .grid__cell:last-child {
  border: 0;
  padding: 10px;
}

.nesting .level2 .grid__cell {
  background-color: #0c97f0;
}
.nesting .level3 .grid__cell {
  background-color: #71cdff;
}

/* grid system layout */
.grid__row {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
}

.grid__column {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

.grid__row.--reverse {
  flex-direction: row-reverse;
}
.grid__row.--wrap {
  flex-wrap: wrap;
}
.grid__row.--wrap-reverse {
  flex-wrap: wrap-reverse;
}
.grid__row.--around {
  justify-content: space-around;
}
.grid__row.--between {
  justify-content: space-between;
}
.grid__row.--center {
  justify-content: center;
}

.grid__cell {
  box-sizing: border-box;
  flex: 0 0 100%;
  padding: 0.5rem;
  background-color: #38c3ff;
}
.grid__cell.--first {
  order: -1;
}
.grid__cell.--last {
  order: 1;
}

.auto {
  flex: 1 1 auto;
}
.--auto {
  flex: 1 1 auto;
}

.--1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}
.--2 {
  flex-basis: calc(8.33333% * 2);
  max-width: calc(8.33333% * 2);
}
.--3 {
  flex-basis: calc(8.33333% * 3);
  max-width: calc(8.33333% * 3);
}
.--4 {
  flex-basis: calc(8.33333% * 4);
  max-width: calc(8.33333% * 4);
}
.--5 {
  flex-basis: calc(8.33333% * 5);
  max-width: calc(8.33333% * 5);
}
.--6 {
  flex-basis: calc(8.33333% * 6);
  max-width: calc(8.33333% * 6);
}
.--7 {
  flex-basis: calc(8.33333% * 7);
  max-width: calc(8.33333% * 7);
}
.--8 {
  flex-basis: calc(8.33333% * 8);
  max-width: calc(8.33333% * 8);
}
.--9 {
  flex-basis: calc(8.33333% * 9);
  max-width: calc(8.33333% * 9);
}
.--10 {
  flex-basis: calc(8.33333% * 10);
  max-width: calc(8.33333% * 10);
}
.--11 {
  flex-basis: calc(8.33333% * 11);
  max-width: calc(8.33333% * 11);
}
.--12 {
  flex-basis: calc(8.33333% * 12);
  max-width: calc(8.33333% * 12);
}

.multi-cols .grid__row .grid__cell {
  border-right: 1px solid black;
}
.multi-cols .grid__row .grid__cell:last-child {
  border-right: 0;
}
