.button {
  display: flex;
  flex-direction: row;
  padding: 0 50px;
}

.button__styles {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
}

.button__item {
  margin-bottom: 10px;
}

.button__markup {
  display: flex;
  align-items: center;
}

.button__bucket {
  border: 1px solid #E7E6E6;
  display: flex;
}


/* button layout */
.btn {
  border-radius: 5px;
  background-color: #38c3ff;
}

.btn:hover {
  background-color: #05b3ff;
}

.btn--small {
  width: 68px;
  height: 32px;
}

.btn--regular {
  width: 90px;
  height: 42px;
}

.btn--large {
  width: 112px;
  height: 52px;
}

.btn.btn--disabled {
  background-color: #51caff;
}
