<div class="wrapper">
  <div class="title">
    <h1>Buttons</h1>
  </div>

  <div class="button">
    <div class="button__styles">
      <div class="button__item">
        <button class="btn btn--small" type="button">small</button>
      </div>
      <div class="button__item">
        <button class="btn btn--regular" type="button">regular</button>
      </div>
      <div class="button__item">
        <button class="btn btn--large" type="button">large</button>
      </div>
      <div class="button__item">
        <button class="btn btn--regular btn--disabled" type="button" disabled>disabled</button>
      </div>
    </div>
    <div class="button__markup">
      <form class="button__bucket">
        <textarea id="code" name="code"></textarea>
      </form>
    </div>
  </div>
</div>

