/**
 * Add box-sizing to all elements
 * Set the root font-size
 */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Remove button border.
 */
button {
  border: 0;
}

/**
 * Remove link decoration
 */
a {
  text-decoration: none;
}
