<nav class="menu">
  <ul class="menu__items" ng-click="ctrl.navigate($event)">
    <li class="menu__item">
      <a class="menu__link" ui-sref=".buttons">Buttons</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" ui-sref=".cards"><span>Cards</span></a>
    </li>
    <li class="menu__item">
      <a class="menu__link" ui-sref=".colors"><span>Colors</span></a>
    </li>
    <li class="menu__item">
      <a class="menu__link" ui-sref=".forms"><span>Forms</span></a>
    </li>
    <li class="menu__item">
      <a class="menu__link" ui-sref=".gridsystem">Grid System</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" ui-sref=".layouts"><span>Layouts</span></a>
    </li>
    <li class="menu__item">
      <a class="menu__link" ui-sref=".tables"><span>Tables</span></a>
    </li>
    <li class="menu__item">
      <a class="menu__link" ui-sref=".tabs"><span>Tabs</span></a>
    </li>
  </ul>
</nav>
