.menu {
  margin-bottom: 5px;
}

.menu__items {
  height: 40px;
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.menu__link {
  padding: 5px 10px;
  border-radius: 5px;
  color: #000000;
  font-family: "raleway";
  font-size: 18px;
}

.menu__link:hover {
  background-color: #ddf5ff;
}

.menu__link.selected {
  background-color: #67d1ff;
}
