ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.grid__row {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}
.grid__column {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}
.--4 {
  flex-basis: calc(8.33333% * 4);
  max-width: calc(8.33333% * 4);
}
.align-i--center {
  align-items: center;
}

.bloggy {
  padding-top: 8px;
  margin: 0 auto;
  width: 85%;
}

nav {
  padding: 2px;
  background-color: #969393;
}

.nav__logo {
  padding: 3px 5px 0;
  margin-right: 5px;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.nav__title {
  flex: 0 0 auto;
  font-size: 10pt;
  font-weight: bold;
}

.nav__items {
  flex: 0 0 25%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.nav__item {
  padding: 0 10px;
  border-right: 1px solid black;
}

.nav__item:last-child {
  border: 0;
}

.nav__link {
  font-size: 11pt;
  color: #000000;
}

.nav__login {
  margin-right: 5px;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

main.main__content {
  padding: 10px 0;
}

section {
  margin-right: 5px;
  background-color: #b0b0b0;
  padding-top: 20px;
}
section:last-child {
  margin-right: 0;
}

article {
  width: 85%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 3px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: lightgray;
}
article:hover {
  background-color: #85919c;
}

.article__rank {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 25px;
  color: black;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.article__vote {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-image: url('../../imgs/grayarrow2x.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -1px;
}

.article__description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin-left: 10px;
}

.article__info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.article__title {
  width: 133px;
  height: 16px;
  background-color: gray;
}
.article__site {
  width: 75px;
  height: 12px;
  margin-top: 4px;
  background-color: #969292;
}

.article__meta {
  width: 260px;
  height: 12px;
  background-color: #9e9a9a;
}
