/* grid system layout */
.grid__column {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

.grid__row {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
}

.grid__cell {
  box-sizing: border-box;
  flex: 0 0 100%;
  padding: 0.5rem;
}

.--auto {
  flex: 1 1 auto;
}

.--2 {
  flex-basis: calc(8.33333% * 2);
  max-width: calc(8.33333% * 2);
}
/* end */


header, footer {
  text-align: center;
  background-color: gray;
  color: gray;
}

.sidebar__left, .sidebar__right {
  background-color: lightgrey;
  color: lightgrey;
}

.sidebar__left, .main__content, .sidebar__right {
  text-align: center;
}

.main__content {
  color: white;
}
