.layouts__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;

  width: 100%;
  padding: 20px;
  background-color: #51A9CF;
}

.grid__row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.grid__cell {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0.5rem;
}

.--4 {
  flex-basis: calc(8.33333% * 4);
  max-width: calc(8.33333% * 4);;
}
.--8 {
  flex-basis: calc(8.33333% * 8);
  max-width: calc(8.33333% * 8);
}

.layout__card {
  width: 97.80%;
  margin: 0 auto;
  background-color: #ffffff;
}

.layout__card__outline {
  width: 97.33333%;
  margin: 0 auto;
  padding-top: 3px;
}

.layout__description {
  width: 100%;
  height: 211px;
  padding: 5px 0;
  margin: 0 auto;
  background-color: lightgray;
}

.layout__card__outline:hover {

}
