<div class="wrapper">
  <div class="title">
    <h1>Layouts</h1>
  </div>

  <div class="layouts__wrapper">

    <div class="grid__row">
      <div class="grid__cell --4">
        <div class="layout__card">

        <div class="layout__card__outline">
          <a class="layout__card__outline" href="/layouts/holy-grail" target="_blank">
            <img src="imgs/holygrail_layout.png" alt="holy grail layout" width="100%" height="100%">
          </a>
        </div>

        </div>
      </div>
      <div class="grid__cell --8">
        <div class="layout__description">
          <p>The Holy Grail website layout</p>
        </div>
      </div>
    </div>

    <div class="grid__row">
      <div class="grid__cell --4">
        <div class="layout__card">

        <div class="layout__card__outline">
          <a class="layout__card__outline" href="/layouts/bloggy" target="_blank">
            <img src="imgs/bloggy_layout.png" alt="blog post layoutt" width="100%" height="100%">
          </a>
        </div>

        </div>
      </div>
      <div class="grid__cell --8">
        <div class="layout__description">
          <p>List of News Topics</p>
        </div>
      </div>
    </div>

    <div class="grid__row">
      <div class="grid__cell --4">
        <div class="layout__card">

        <div class="layout__card__outline">
          <a class="layout__card__outline" href="/layouts/ecommerce" target="_blank">
            <img src="imgs/ecommerce_layout.png" alt="ecommerce layout" width="100%" height="100%">
          </a>
        </div>

        </div>
      </div>
      <div class="grid__cell --8">
        <div class="layout__description">
          <p>The Ecommerce website layout</p>
        </div>
      </div>
    </div>

  </div>

</div>
