<div class="wrapper">
  <div class="title">
    <h1>Cards</h1>
  </div>

  <div class="cards__wrapper">

    <div class="card">
      <div class="card__subject">
        <div class="card__content"></div>
      </div>
      <div class="card__description">
        <p>put something nice here</p>
      </div>
    </div>

    <div class="card">
      <div class="card__subject">
        <div class="card__content"></div>
      </div>
      <div class="card__description">
        <p>put something nice here</p>
      </div>
    </div>

    <div class="card">
      <div class="card__subject">
        <div class="card__content"></div>
      </div>
      <div class="card__description">
        <p>put something nice here</p>
      </div>
    </div>

  </div>

  <div class="cards__markup"></div>
</div>
