.cards__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  /* background-color: #0274A6; */
  background-color: #51A9CF;
  width: 100%;
  padding: 20px 0;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 26%;
  padding-top: 5px;
  margin: 10px 0;
  background-color: #9AD0E7;
}

.card__subject {}
.card__content {
  width: 300px;
  height: 187.5px;
  background-color: #f5f5f5;
}

.card__description {

}
