.header {
  margin-bottom: 10px;
}

.banner {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__title {
  font-family: "europa";
  font-size: 70px;
  margin-bottom: -20px;
}

.banner__subtitle {
  font-family: "futura-pt";
  font-size: 0.9em;
  font-style: italic;
  align-self: flex-end;
}
