<header class="header">
  <div class="banner">
    <div class="banner__title">Style Guide</div>
    <div class="banner__subtitle">
      <span>I'll show you mine if you show me yours.</span>
    </div>
  </div>
</header>
