.table__wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.table {
  border: 1px solid black;
}

.table__header {
  background-color: #38c3ff;
}
.table__row {
  /* background-color: #ddf5ff; */
  background-color: #f0fbff;
}

.table__header, .table__row {
  display: flex;
  flex-flow: row nowrap;

  border-bottom: 1px solid black;
}

.table__header__item, .table__row__item {
  width: 25%;
  border-right: 1px solid black;
  text-align: center;
}

.table__header__item span {
  font-size: 1.2em;
  font-weight: bold;
}

.table__row__item span {
  font-size: 0.9em;
}

.table__header__item:last-child,
.table__row__item:last-child {
  border-right: none;
}

.table__row:last-child {
  border-bottom: none;
}


/* table markup */
.table__markup {
  margin-top: 20px;
  height: 7em;
  background-color: #ddd;
}
