<div class="wrapper">
  <div class="title">
    <h1>Tables</h1>
  </div>


  <div class="table__wrapper">
    <div class="table">
      <div class="table__header">
        <div class="table__header__item"><span>ID</span></div>
        <div class="table__header__item"><span>Name</span></div>
        <div class="table__header__item"><span>Occupation</span></div>
        <div class="table__header__item"><span>Location</span></div>
      </div>

      <div class="table__row">
        <div class="table__row__item"><span>1234</span></div>
        <div class="table__row__item"><span>Charlie</span></div>
        <div class="table__row__item"><span>Land Lord</span></div>
        <div class="table__row__item"><span>Austin</span></div>
      </div>
      <div class="table__row">
        <div class="table__row__item"><span>2345</span></div>
        <div class="table__row__item"><span>Chimmy Changa</span></div>
        <div class="table__row__item"><span>Dog</span></div>
        <div class="table__row__item"><span>Austin</span></div>
      </div>
      <div class="table__row">
        <div class="table__row__item"><span>3456</span></div>
        <div class="table__row__item"><span>Daisy Dallas</span></div>
        <div class="table__row__item"><span>Floor Cleaner</span></div>
        <div class="table__row__item"><span>Tucson</span></div>
      </div>
      <div class="table__row">
        <div class="table__row__item"><span>4567</span></div>
        <div class="table__row__item"><span>Stephanie Dukane</span></div>
        <div class="table__row__item"><span>Truck driver</span></div>
        <div class="table__row__item"><span>Los Angeles</span></div>
      </div>
      <div class="table__row">
        <div class="table__row__item"><span>5678</span></div>
        <div class="table__row__item"><span>Roberto</span></div>
        <div class="table__row__item"><span>web</span></div>
        <div class="table__row__item"><span>Boston</span></div>
      </div>
    </div>

    <div class="table__markup">
      add code markup here
    </div>
  </div>
</div>
