<div class="wrapper">
  <div class="title">
    <h1>Tabs</h1>
  </div>

  <div class="tabs__wrapper">
    <div class="tabs">
      <input id="tab1" name="tabs" type="radio" checked></input>
      <input id="tab2" name="tabs" type="radio"></input>
      <input id="tab3" name="tabs" type="radio"></input>

      <div class="tab__items">
        <label for="tab1" id="l_tab1" class="tab__item"><span>The Good</span></label>
        <label for="tab2" id="l_tab2" class="tab__item"><span>The Bad</span></label>
        <label for="tab3" id="l_tab3" class="tab__item"><span>The Ugly</span></label>
      </div>

      <div class="panel__items">
        <section id="panel-1" class="panel__item">{{ ctrl.panel1() }}</section>
        <section id="panel-2" class="panel__item">{{ ctrl.panel2() }}</section>
        <section id="panel-3" class="panel__item">{{ ctrl.panel3() }}</section>
      </div>
    </div>

    <div class="tabs__markup">
      add code markup here
    </div>
  </div>


</div>
