.tabs__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}


.tabs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 32em;
  margin-left: 4em;
}

.tabs input {
  display: none;
}

.tab__items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.tab__item {
  position: relative;
  display: inline-block;
  padding: 10px 10px 8px;
  color: #6B828C;
  text-decoration: none;
}

.tab__item:hover {
  background-color: #CFF0FF;
  border-radius: 5px 5px 0 0;
}

.panel__items {
  display: block;
  padding: 1em;
  border-radius: 3px;
  background-color: #05b3ff;
}

.panel__item {
  display: none;
}

/* when tab is selected */
#tab1:checked ~ .tab__items #l_tab1,
#tab2:checked ~ .tab__items #l_tab2,
#tab3:checked ~ .tab__items #l_tab3 {
  color: #000;
  cursor: default;
  margin-bottom: -1px;

  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: #05b3ff;
}

/* show panel when tab is selected */
#tab1:checked ~ .panel__items #panel-1,
#tab2:checked ~ .panel__items #panel-2,
#tab3:checked ~ .panel__items #panel-3 {
  display: block;
}

.tabs__markup {
  width: 32em;
  height: 5em;
  background-color: #ddd;
}
